a {
    text-decoration: none;
}

.reserve{
    background-color: green;
    color: white;
    border-radius: 15px;
}

header {
    background-color: #800080;
}

.justify-content-center {
    border: 2px solid black;
}